.ClueList {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  .ClueList {
    display: none;
  }
}
.ClueList .ClueListTitle {
  font-weight: bold;
  font-size: 1.5rem;
}
.ClueList .Clues {
  border: 1px solid black;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  width: 15rem;
}
.ClueList .nobullets {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ClueList .primary {
  background-color: lightblue;
}
.ClueList .selected {
  background-color: #add8e6;
}
.ClueList .obscured {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.Preferences .Heading {
  font-weight: bold;
  font-ssize: 1.2rem;
}
.Preferences .SkipExisting {
  margin: 1rem 0 0 2rem;
}
.Preferences .PuzzlePrefs {
  margin: 0 0 0 2rem;
}

.Puzzle {
  position: relative;
  display: flex;
  flex-direction: column;
}
.Puzzle .PuzzleHeader {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  background: white;
}
.Puzzle .PuzzleHeader .MenuHeader {
  display: flex;
  flex-direction: row;
  background: white;
  width: 100%;
}
.Puzzle .PuzzleHeader .MenuHeader .RightHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.Puzzle .PuzzleHeader .RevealDropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Puzzle .PuzzleHeader .CheckDropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Puzzle .PuzzleBody {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}
.Puzzle .GridClues {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.Puzzle .GridClues .GridClueNumber {
  font-weight: bold;
}
.Puzzle .obscured {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.Puzzle .GridRow {
  display: flex;
  flex-direction: row;
}
.Puzzle .PuzzleGrid {
  display: flex;
  flex-direction: row;
}
.Puzzle .PuzzleFooter {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  font-size: 2rem;
}
.Puzzle .Complete {
  font-size: 2rem;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  margin-top: 1rem;
  border-top: 0.625rem solid #58b647;
  border-right: 0.625rem solid rgba(136, 136, 136, 0.2);
  border-bottom: 0.625rem solid rgba(136, 136, 136, 0.2);
  border-left: 0.625rem solid rgba(136, 136, 136, 0.2);
  animation: spinner 0.9s linear infinite;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.loading-text {
  margin-top: 1rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 130%;
  color: #888;
}

.Modal {
  position: absolute;
  width: 25%;
  height: 25%;
  left: 25%;
  top: 25%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PuzzleGrid {
  position: relative;
  margin-top: 0.5rem;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.PuzzleGrid .GridClues {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}
.PuzzleGrid .GridClues .GridClueNumber {
  font-weight: bold;
}
.PuzzleGrid .obscured {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.GridRow {
  display: flex;
  flex-direction: row;
}

.GridCell {
  border: 1px solid black;
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  display: inline-grid;
  grid-template-columns: 0.5rem 1.5rem;
  grid-template-rows: 0.4rem 1.6rem;
  color: transparent;
  text-shadow: 0 0 0 black;
}
.GridCell .circled {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.GridCell .clueNumber {
  position: relative;
  font-size: 0.5rem;
  text-align: left;
  vertical-align: top;
  grid-column-start: 1;
  grid-row-start: 1;
}
.GridCell .clueValue {
  grid-column-start: 2;
  grid-row-start: 2;
  border: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  background-color: transparent;
}

input:focus {
  outline: none;
}

.incorrect {
  color: transparent;
  text-shadow: 0 0 0 red;
}

.PuzzleHeader {
  display: flex;
  flex-direction: flex-column;
  width: 100%;
  justify-content: space-between;
}
.PuzzleHeader .RightHeader {
  display: flex;
  flex-direction: row;
}

.PuzzleList {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.PuzzleDate {
  display: inline-block;
}

.PuzzleDateString {
  font-weight: bold;
  font-size: 1.5rem;
}

.PuzzleLink {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid black;
}

.PuzzleName {
  padding: 0.5rem;
  cursor: pointer;
}

.PuzzleTimer {
  display: flex;
  flex-direction: column;
}

.RadioButtonGroup {
  margin-left: 2rem;
}
.RadioButtonGroup .RadioButtonGroupButtons {
  margin-left: 1rem;
}

.black {
  background: black;
  color: black;
}

.highlighted {
  background-color: lightgrey;
}

.selected {
  background-color: #add8e6;
}

/*# sourceMappingURL=main.css.map */
