.Preferences {
  margin-top: 4.5rem;
    
  .Heading {
    font-weight: bold;
    font-ssize: 1.2rem;
  }

  .SkipExisting {
    margin: 1rem 0 0 2rem;
  }

  .PuzzlePrefs {
    margin: 0 0 0 2rem;
  }

  .PuzzleListContainer {
    margin: 0.5rem;
    border: 1px solid lightgrey;
    padding: 0.5rem;
    
    .PuzzlePrefList {
      margin: 0.5rem;
	
      .PuzzlePrefInfo {
        border: 1px solid lightgrey;
        background-color: white;
	margin: 0.2rem;
      }
    }
  }
}
