.PuzzleHeader {
  display: flex;
  flex-direction: flex-column;
  width: 100%;
  justify-content: space-between;

  .PuzzleTimer {
  }

  .RightHeader {
    display: flex;
    flex-direction: row;
  }
}
