.Puzzle {
  position: relative;
  display: flex;
  flex-direction: column;

  .PuzzleHeader {
    display: flex;
    flex-direction: row;

    .PreferencesIcon {
    }

    .RevealDropdown {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .PuzzleBody {
    display: flex;
    flex-direction: column;
  }

  .GridClues {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
	
    .GridClueNumber {
	font-weight: bold;
    }
  }
    
  .obscured {
    color: transparent;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .GridRow {
    display: flex;
    flex-direction: row;
  }

  .PuzzleGrid {
    display: flex;
    flex-direction: row;
  }
  
  .PuzzleFooter {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    font-size: 2rem;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  margin-top: 1rem;
  border-top: 0.625rem solid #58b647;
  border-right: 0.625rem solid rgba(136, 136, 136, 0.2);
  border-bottom: 0.625rem solid rgba(136, 136, 136, 0.2);
  border-left: 0.625rem solid rgba(136, 136, 136, 0.2);
  animation: spinner 0.9s linear infinite;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.loading-text {
  margin-top: 1rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 130%;
  color: #888;
}

.Modal {
  position: absolute;
  width: 25%;
  height: 25%;
  left: 25%;
  top: 25%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
