.PuzzleList {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;

  .PuzzleInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .PuzzleData {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .NoData {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.PuzzleDate {
  display: inline-block;
}

.PuzzleDateString {
  font-weight: bold;
  font-size: 1.5rem;  
}

.PuzzleLink {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid black;
}

.PuzzleName {
  padding: 0.5rem;
  cursor: pointer;
}

