$btnColor: #3e68ff;


.Puzzle {
  position: relative;
  display: flex;
  flex-direction: column;

  .PuzzleHeader {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 5rem;
    
    display: flex;
    flex-direction: column;
    background: white;
    
    .MenuHeader {
      display: flex;
      flex-direction: row;
      background: white;
      width: 100%;
      
      .RightHeader {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

	button {
	  background-color: $btnColor;
	  color: #fff;
	  border-radius: 0.5rem;
	  border-width: 0;
	  
	  text-align: center;
	  line-height: 1.1;
	  padding: 0.25rem 0.75rem;
	  min-width: 10ch;

	  &:hover,
	  &:active {
	    background-color: scale-color($btnColor, $lightness: -20%);
	  }

	  transition: 220ms all ease-in-out;

	  &:focus {
	    outline-style: solid;
	    outline-color: transparent;
	    box-shadow: 0 0 0 4px scale-color($btnColor, $lightness: -40%);
	  }
	}

	.Stopwatch {
	  margin-right: 0.5rem;
	}
	
	.CheckDropdown {
	  margin-left: 0.25rem;
	}

	.RevealDropdown {
	  margin-left: 0.25rem;
	}
      }
    }

    .PreferencesIcon {
    }

    .RevealDropdown {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .CheckDropdown {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .PuzzleBody {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
  }

  .GridClues {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
	
    .GridClueNumber {
	font-weight: bold;
    }
  }
    
  .obscured {
    color: transparent;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .GridRow {
    display: flex;
    flex-direction: row;
  }

  .PuzzleGrid {
    display: flex;
    flex-direction: row;
  }
  
  .PuzzleFooter {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    font-size: 2rem;
  }

  .Complete {
    font-size: 2rem;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  margin-top: 1rem;
  border-top: 0.625rem solid #58b647;
  border-right: 0.625rem solid rgba(136, 136, 136, 0.2);
  border-bottom: 0.625rem solid rgba(136, 136, 136, 0.2);
  border-left: 0.625rem solid rgba(136, 136, 136, 0.2);
  animation: spinner 0.9s linear infinite;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.loading-text {
  margin-top: 1rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 130%;
  color: #888;
}

.Modal {
  position: absolute;
  width: 25%;
  height: 25%;
  left: 25%;
  top: 25%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-open .Dropdown-control {
  background-color: scale-color($btnColor, $lightness: -20%);
  color: #fff;
}
  
.Dropdown-control {
  background-color: $btnColor;
  color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

  &:hover,
  &:active {
    background-color: scale-color($btnColor, $lightness: -20%);
  }
  
  .Dropdown-arrow-closed {
      border-color: #fff transparent transparent;
      border-style: solid;
      border-width: 5px 5px 0;
      content: ' ';
      display: block;
      height: 0;
      margin-top: -ceil(2.5);
      position: absolute;
      right: 10px;
      top: 14px;
      width: 0
  }
  
  .Dropdown-arrow-open {
      border-color: transparent transparent #fff;
      border-style: solid;
      border-width: 0 5px 5px;
      content: ' ';
      display: block;
      height: 0;
      margin-top: -ceil(2.5);
      position: absolute;
      right: 10px;
      top: 14px;
      width: 0
  }
  
  &:focus {
      outline-style: solid;
      outline-color: transparent;
      box-shadow: 0 0 0 4px scale-color($btnColor, $lightness: -40%);
  }
}

.Dropdown-menu {
    background-color: $btnColor;
    color: #fff;
}

.Dropdown-option {
    background-color: $btnColor;
    color: #fff;
    
    &:hover,
    &:active {
	background-color: scale-color($btnColor, $lightness: -20%);
    }
}

.Dropdown-option:hover {
  color: #fff;
}


