@import "components/ClueList.scss";
@import "components/Preferences.scss";
@import "components/Puzzle.scss";
@import "components/PuzzleGrid.scss";
@import "components/PuzzleGridCell.scss";
@import "components/PuzzleHeader.scss";
@import "components/PuzzleList.scss";
@import "components/PuzzleTimer.scss";
@import "components/RadioButtonGroup.scss";

.black {
  background: black;
  color: black;
}

.highlighted {
  background-color: lightgrey;
}

.selected {
  background-color: #add8e6;
}
